<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>KinalApp - Login</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<div class="auth-container">
    <h1>KinalApp</h1>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="username" placeholder="Tu usuario" required>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu contraseña" required>
        </div>

        <button type="submit" class="btn-main" style="width: 100%;">ENTRAR</button>
    </form>

    <p class="login-footer">
        ¿Crear una Cuenta? <a th:href="@{/usuario/nuevo}">Regístrate aquí</a>
    </p>
</div>
</body>
</html>