<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>KinalApp - Panel</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div class="dashboard-card">
    <h1>Menú KinalApp</h1>
    <div class="grid-menu">
        <a th:href="@{/cliente/lista}" class="menu-item"><span>👥</span>Clientes</a>
        <a th:href="@{/producto/lista}" class="menu-item"><span>📦</span>Productos</a>
        <a th:href="@{/venta/lista}" class="menu-item"><span>💰</span>Ventas</a>
        <a th:href="@{/detalleVenta/lista}" class="menu-item"><span>📜</span>Detalles Ventas</a>
        <a th:href="@{/usuario/lista}" class="menu-item"><span>🔐</span>Usuarios</a>
    </div>
    <a th:href="@{/login}" class="link-footer">CERRAR SESIÓN</a>
</div>
</body>
</html>