<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <title>KinalApp - Panel</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div class="dashboard-card">
    <h1>Menú KinalApp</h1>
    <div class="grid-menu">
        <a th:href="@{/cliente/lista}" class="menu-item"> 👥 Clientes</a>
        <a th:href="@{/producto/lista}" class="menu-item"> 📦 Productos</a>
        <a th:href="@{/detalleVenta/lista}" class="menu-item"> 💰 Detalle Venta</a>
        <a th:href="@{/usuario/lista}" class="menu-item" sec:authorize="hasRole('ADMIN')"> 🔐 Usuarios</a>
    </div>

    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button type="submit" class="link-footer" style="background:none; border:none; color:red; cursor:pointer;">
            CERRAR SESIÓN
        </button>
    </form>
</div>
</body>
</html>